<!DOCTYPE html>
<html>
<head>
<style>
body { position: relative; font-family: Arial; }
.emploi { position: relative; width: 1000px; height: 800px; background-size: contain; }
.date-de-jour {position: absolute; top: 5px; }
.cours { position: absolute; width: 154px; height: 82px; background: #fff; border-radius: 10px; border: solid .5px; overflow: hidden; text-align: center; font-size: 10px; }
.top { padding: 2px; border-bottom: black solid .5px;}
.buttom {overflow: inherit; padding-top: 8px; margin: 5px;}
p {margin: 0px;}
strong {font-size: 13px; text-wrap-mode: nowrap;}
</style>
</head>
<body>
<div class='emploi'>
<img src='Images/EDT_BASE.png' 
 style='position:absolute; width:100%; z-index:-1; left: 50%;'><div class='cours' style='top:103px; left:548px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 09:00 - 10:30</div>
<div class='buttom' >
<strong>CRYPTORAPHIE</strong>
<p style=' font-size: 11px;'>LAZAAR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:217px; left:548px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 11:00 - 12:30</div>
<div class='buttom' >
<strong>CRYPTORAPHIE</strong>
<p style=' font-size: 11px;'>LAZAAR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:358px; left:548px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 13:30 - 15:00</div>
<div class='buttom' >
<strong>BASES DE DONNES NON SQL</strong>
<p style=' font-size: 11px;'>BADIR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:472px; left:548px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 15:30 - 17:00</div>
<div class='buttom' >
<strong>BASES DE DONNES NON SQL</strong>
<p style=' font-size: 11px;'>BADIR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:103px; left:707px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 09:00 - 10:30</div>
<div class='buttom' >
<strong>PROGRAMMATION DECL</strong>
<p style=' font-size: 11px;'>CHAFIK</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:217px; left:707px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 11:00 - 12:30</div>
<div class='buttom' >
<strong>PROGRAMMATION DECL</strong>
<p style=' font-size: 11px;'>CHAFIK</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:358px; left:707px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 13:30 - 15:00</div>
<div class='buttom' >
<strong>PROGRAMMATION DECL</strong>
<p style=' font-size: 11px;'>EL ALAMI</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:103px; left:866px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 09:00 - 10:30</div>
<div class='buttom' >
<strong>TRAITEMENT D'IMAGE</strong>
<p style=' font-size: 11px;'>LACHKAR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:217px; left:866px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 11:00 - 12:30</div>
<div class='buttom' >
<strong>TRAITEMENT D'IMAGE</strong>
<p style=' font-size: 11px;'>LACHKAR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:358px; left:866px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 13:30 - 15:00</div>
<div class='buttom' >
<strong>MANAGEMENT DE PROJETS</strong>
<p style=' font-size: 11px;'>RAHALI AZOUZI</p>
<p>Salle: SALLE B19</p>
</div>
</div>
<div class='cours' style='top:472px; left:866px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 15:30 - 17:00</div>
<div class='buttom' >
<strong>MANAGEMENT DE PROJETS</strong>
<p style=' font-size: 11px;'>RAHALI AZOUZI</p>
<p>Salle: SALLE B19</p>
</div>
</div>
<div class='cours' style='top:103px; left:1026px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 09:00 - 10:30</div>
<div class='buttom' >
<strong>TRAITEMENT D'IMAGE</strong>
<p style=' font-size: 11px;'>LACHKAR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:217px; left:1026px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 11:00 - 12:30</div>
<div class='buttom' >
<strong>TRAITEMENT D'IMAGE</strong>
<p style=' font-size: 11px;'>LACHKAR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:358px; left:1026px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 13:30 - 15:00</div>
<div class='buttom' >
<strong>DOT NET  C SHARP</strong>
<p style=' font-size: 11px;'>GHAILANI</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:472px; left:1026px;'>
<div class='top' style='background-color:#A9FCAD ;'>TP - 15:30 - 17:00</div>
<div class='buttom' >
<strong>DOT NET  C SHARP</strong>
<p style=' font-size: 11px;'>GHAILANI</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:103px; left:1184px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 09:00 - 10:30</div>
<div class='buttom' >
<strong>GESTION DES DONNEES</strong>
<p style=' font-size: 11px;'>BADIR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:217px; left:1184px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 11:00 - 12:30</div>
<div class='buttom' >
<strong>GESTION DES DONNEES</strong>
<p style=' font-size: 11px;'>BADIR</p>
<p>Salle: SALLE B20</p>
</div>
</div>
<div class='cours' style='top:415px; left:1184px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 14:30 - 16:00</div>
<div class='buttom' >
<strong>COMPTABILITE 2</strong>
<p style=' font-size: 11px;'>NAITBOUBKER</p>
<p>Salle: SALLE B2</p>
</div>
</div>
<div class='cours' style='top:529px; left:1184px;'>
<div class='top' style='background-color:#B5A9FC ;'>CM - 16:30 - 18:00</div>
<div class='buttom' >
<strong>COMPTABILITE 2</strong>
<p style=' font-size: 11px;'>NAITBOUBKER</p>
<p>Salle: SALLE B2</p>
</div>
</div>
<h5 class='date-de-jour' style='left:610px;'>27/01</h5>
<h5 class='date-de-jour' style='left:769px;'>28/01</h5>
<h5 class='date-de-jour' style='left:929px;'>29/01</h5>
<h5 class='date-de-jour' style='left:1088px;'>30/01</h5>
<h5 class='date-de-jour' style='left:1247px;'>31/01</h5>
<h5 class='date-de-jour' style='left:1406px;'>01/02</h5>
</div>
</body>
</html>